header {
	margin: 0;
	width: 100%;
	height: 100px;
	background: black;

}



img {
	height: 100px;
	width: 100px;
}



body {
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}


#ups {
	background-color: grey;
	margin: 0;
	width: 100%;
	height: 50px;
	font-family: "proxima-nova-bold";
	font-size: 20px;
	text-align: center;
    color: white;
    vertical-align:middle;
}


.adidasnew {
	width: 100%;
	height: 600px ;
}



h2 {
	font-family: "proxima-nova-bold";
	padding: 10px 20px 20px;
	

}


.collection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin: 20px 20px 40px 20px;
	box-sizing: border-box;
	width: calc(100% - 45px);
}



.collection img {
	width: 280px;
	height: 320px;
	margin: 20px 20px 40px 20px;

}

.bannernike {
	width: 100%;
	height: 280px;
}

figure {
	display: flex, 
	 width: 1px;
	  padding: 0;
	   margin: 0;
	flex-direction: row;
	flex-wrap: wrap;

}

figcaption {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

figure img {
	display: table-row
}

